<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="favicon.ico" rel="icon" type="image/x-icon" />

    <title>GEO task</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/leaflet/dist/leaflet.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.9?key=AIzaSyDN9xu90rl_SkED9z_r0QmK1pEl5cszVUs&sensor=FALSE"></script>
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GEO task</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="map-container">
    <div id="map_canvas" style="width:100%; height:100%"></div>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="vendor/leaflet/dist/leaflet-src.js"></script>
<script type="text/javascript" src="vendor/leaflet-plugins/layer/tile/Google.js"></script>
<script src="javascripts/main.js"></script>
<script src="javascripts/mainActions.js"></script>
</body>
</html>
