@import 'buttons.css';

html, body {
    height: 100%
}
.map-container {
    height: 100%;
    padding-top: 51px;
}
#map_canvas {
    height: 100%
}
.navbar-default {
    position: absolute;
    width: 100%;
    margin: 0;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.info.legend {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 15px grey;
}